<div class="nav-papa">
  <div class="div-logo">
    <a routerLink="inicio">
      <img src="assets/logo_nata.png" alt="logo_natalia" width="15%"
    /></a>
  </div>
  <div class="div-nav">
    <nav class="nonav">
      <ul>
        <li>
          <a class="item" routerLink="inicio">Inicio</a>
        </li>

        <li>
          <a class="item" routerLink="/projects">Mis Proyectos</a>
        </li>
        <li>
          <a class="item" routerLink="/skills">Habilidades</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
