.nav-papa {
  display: flex;
  align-items: center;
  background-color: #4e3a5d;
}
.div-logo {
  width: 50%;

  flex: 1 auto;
}
.div-nav {
  display: flex;
  justify-content: flex-end;
}
ul {
  display: flex;
}
li {
  list-style: none;
  padding: 15px;
}
a {
  color: #ffff;
  font-weight: 500;
  text-decoration: none;
}
.item:hover {
  color: #4e3a5d;
  background-color: #ffff;
  text-decoration: none;
  font-weight: 600;
  padding: 3px;
  border-radius: 2px;
}
