<div class="container">
  <div class="title">
    ¿Cómo trabajo?
  </div>
  <div class="container-tags">
    <div class="tag">
      <div class="tag-img">
        <img src="assets/ux.png" alt="ux" class="img-ux" />
      </div>
      <div class="tag-text">
        Trabajo siempre de la mano <br />con user xperience.
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img
          src="assets/met_agile.png"
          alt="metodología agile"
          class="img-ux"
        />
      </div>
      <div class="tag-text">
        Se trabaja de mejor manera bajo <br />metodologías ágiles.
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/git.png" alt="git" class="img-ux" />
      </div>
      <div class="tag-text">
        Incorporé desde que inicié mis estudios, <br />a trabajar siempre con
        control de versiones
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/squad.png" alt="trabajo en Equipo" class="img-ux" />
      </div>
      <div class="tag-text">
        Todo proyecto de desarrollo sale mejor <br />
        trabajando en equipo
      </div>
    </div>
  </div>
</div>
