<img src="assets/tasha.jpg" alt="" />
<div class="container">
  <div class="info-profile">
    <p class="text-profile">
      Hola! Como desarrolladora <span class="text-bold">Frontend </span>me
      intereso en crear aplicaciones
      <span class="text-bold">web y mobile</span>, que permita a los usuarios
      una mejor experiencia. Siempre lista para aprender cosas nuevas!! <br />
      Conoce mi forma de trabajo y las herramientas que utilizo para concretar
      cada proyecto en el que participo. <br />
      Puedes ver mis proyectos haciendo click
      <a routerLink="/projects">aquí</a>
    </p>
  </div>
</div>
<app-tags-job></app-tags-job>
<app-contactme></app-contactme>
