<div class="contenedor"><h1>Mis trabajos en Laboratoria</h1></div>
<div class="contenedor tm">
  <div class="data-lover">
    <!-- <h2>burgeer-queen</h2> -->
    <div class="img-project">
      <img src="assets/rick.png" alt="rickandmorty" />

      <div class="text-hover">
        <h2>Data Lovers</h2>
        <p>
          Sitio web para fans de Rick and Morty, creado con Javascript vanilla,
          manipulando datos a través un archivo JSON. El usuario puede filtrar
          por categorías, como, personajes, estado, etc.
        </p>
        <p>
          Proyecto realizado en Bootcamp Laboratoria Chile, desarrollado bajo
          metodologías agiles, aplicando dailys diariamente y ocupé las
          herramientas trello y slack.
        </p>
        <div class="div-btn">
          <a href="https://datalover.herokuapp.com/" target="_blank">
            <button class="btn-p">Visitar sitio web</button></a
          >
          <a
            href="https://github.com/NataGalvez/SCL010-data-lovers.github.io"
            target="_blank"
            ><button class="btn-p">Ver Repositorio</button></a
          >
        </div>
      </div>
    </div>

    <div class="btn"></div>
  </div>
  <div class="burgeer-queen">
    <!-- <h2>DataLover</h2> -->
    <div class="img-project">
      <img src="assets/Logo-Super-Hambu.svg" alt="SuperHambu" />

      <div class="text-hover">
        <h2>Super Hambu</h2>
        <p>
          Super Hambu es un sistema web responsivo de comandas de comida
          rápida. Con servicios tanto para el mesero como para la cocina misma
          del local.
        </p>
        <P>
          Proyecto realizado dentro del Bootcamp Laboratoria Chile, junto a
          Daniela Salermi. Al ser un proyecto colaborativo, trabajamos con
          control de versiones, GIT. Ocupamos herramientas como GitHub, Trello,
          Slack, y Heroku. Sistema desarrollado en Angular 8
        </P>
        <div class="div-btn">
          <a href="https://burger-queens.herokuapp.com/home" target="_blank">
            <button class="btn-p">Visitar sitio web</button></a
          >
          <a
            href="https://github.com/NataGalvez/SCL010-Burger-Queen"
            target="_blank"
          >
            <button class="btn-p">Ver Repositorio</button></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="battle-zombie">
    <!-- <h2>BattleZombie</h2> -->
    <div class="img-project">
      <img src="assets/logo-battlezombie.png" alt="battle-zombie" />

      <div class="text-hover">
        <h2>Battle Zombie</h2>
        <p>
          Juego basado en el clasico BattleShip adaptado <br />
          a una version moderna, cambiando temática y funcionalidad. Se puede
          jugar en linea invitando a un segundo participante a través de un
          link.
        </p>
        <p>
          Proyecto realizado bajo el framework de Angular 8, con herramientas
          como MongoDB, Heroku, GitHub.
        </p>
        <div class="div-btn">
          <a href="https://battlezombie.herokuapp.com/" target="_blank">
            <button class="btn-p">Visitar sitio web</button></a
          >
          <a href="https://github.com/DaniSalermi/battleship" target="_blank">
            <button class="btn-p">Ver Repositorio</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
