<div class="container">
  <div class="title">
    Lenguajes y Herramientas que he trabajado
  </div>
  <div class="container-tags">
    <div class="tag">
      <div class="tag-img">
        <img src="assets/html.png" alt="ux" class="img-ux" />
      </div>
      <div class="tag-text">
        HTML 5
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/CSS.png" alt="metodología agile" class="img-ux" />
      </div>
      <div class="tag-text">
        CSS3
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/JS.png" alt="git" class="img-ux" />
      </div>
      <div class="tag-text">
        Javascript
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/angular.png" alt="trabajo en Equipo" class="img-ux" />
      </div>
      <div class="tag-text">
        Angular 2-8
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/react.png" alt="trabajo en Equipo" class="img-ux" />
      </div>
      <div class="tag-text">
        React JS
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img
          src="assets/wordpress.png"
          alt="trabajo en Equipo"
          class="img-ux"
        />
      </div>
      <div class="tag-text">
        Wordpress
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/github.png" alt="trabajo en Equipo" class="img-ux" />
      </div>
      <div class="tag-text">
        Github
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/git_.png" alt="trabajo en Equipo" class="img-ux" />
      </div>
      <div class="tag-text">
        Git
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img
          src="assets/firebase.png"
          alt="trabajo en Equipo"
          class="img-ux"
        />
      </div>
      <div class="tag-text">
        Firebase
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/zeplin.png" alt="trabajo en Equipo" class="img-ux" />
      </div>
      <div class="tag-text">
        Zeplin
      </div>
    </div>
    <div class="tag">
      <div class="tag-img">
        <img src="assets/marvel.png" alt="trabajo en Equipo" class="img-ux" />
      </div>
      <div class="tag-text">
        Marvell Design and Prototype
      </div>
    </div>
  </div>
</div>
